* {padding: 0;

    margin:0;
    box-sizing: border-box;}
* {font-family: 'poppins', sans-serif;}
    
h1 {font-size: 3.5em;}
h2 {font-size:2.7em;}
h3 {font-size: 2em;}

.button-index {font-size: 1.5em;
font-weight: bold;
padding: 10px 20px;
border-radius: 10px;
border:2px;
margin: 10px;
display: flex;
flex direction: row;}

header {background-color: blanchedalmond;
display:flex; justify-content: space-between;}

.logo {margin-left: 100px;
    width: 25%; padding: 50px; object-fit: contain;}

.menu {font-family: 'Poppins', sans-serif; 
        font-weight: 600;  
        text-align: right; margin-right: 100px; 
        margin-bottom: 100px; margin-top: 100px;}
    
        ul { list-style-type: none;}

        li {display: inline; padding: 10px;}


.texto-receta {text-align: center;
font-size: rem;
font-weight: 600;
margin-bottom: 1rem;}


.container{
    width: 50% ;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
    margin: auto;}

.container .receta { border-radius: 8px;
    overflow:hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    padding: 1rem;}

    .container .productos:hover {transform: translateY(-15px); 
    box-shadow: 0 12px 16px #000;}

.imagenreceta {width: 10%;}





.img-der {float: right ;margin-right: 100px; margin-top: 50px;}

.info-krabas-index {margin-top: 50px; padding-left: 100px;}
h1 {font-size: 250%;}
.texto-index {font-size: 180%;}

.buscador {  margin-top: 100px; 
     display: flex; justify-content: space-around; }

#tipo {width: 400px;}
.form {width: 400px;}


.RecetasGridInd {display: grid; 
grid-template-columns: 300px; grid-template-rows: 300px 100px; 
grid-column-gap: 15px; grid-row-gap: 15px; justify-items: center; align-items: center;}


.imagenproducto {width: 50%;}





 /* productos */
 .video{
    width: 100% ;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     flex-direction: row;
    margin: auto;
    border-radius: 8px;
    overflow:hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    padding: 1rem;
}

.center {text-align: center;}









footer {background-color: blanchedalmond;
padding-left: 100px; padding-bottom: 100px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 600;}